{{!-- TODO: Style the "on" and "The weather was" headers to be centered --}}
<div class="accordion w-75 mx-auto pt-3 pb-3">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Expand this to input data!
      </button>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list-group">

            <form id="birdInput">
            
            <input class="list-group-item form-control" type="text" name="birdName" id="birdName" placeholder="Common Name">
            
            <input class="list-group-item form-control" type="text" name="birdSpecies" id="birdSpecies" placeholder="Latin Name or Species">
            
            <input class="list-group-item form-control" type="text" name="birdColors" id="birdColors" placeholder="What Color/s was the bird?">
            
            <input class="list-group-item form-control" type="text" name="birdSize" id="birdSize" placeholder="Size?">

            <input class="list-group-item form-control" type="text" name="birdWeight" id="birdWeight" placeholder="Weight?">

            <input class="list-group-item form-control" type="text" name="birdDiet" id="birdDiet" placeholder="What was the bird eating?">
            
            <input class="list-group-item form-control" type="text" name="birdMigration" id="birdMigration" placeholder="What is its migratory path?">

            <input class="list-group-item form-control" type="text" name="birdHabitat" id="birdHabitat" placeholder="What is its habitat?">

            <input class="list-group-item form-control" type="text" name="birdLocation" id="birdLocation" placeholder="Where does it live?">
            
            <input class="list-group-item form-control" type="text" name="birdActivity" id="birdActivity" placeholder="What was it doing?">
            
            <input class="list-group-item form-control" type="text" name="birdNotes" id="birdNotes" placeholder="Any extra notes? (i.e. What was it doing, did it have any unique markings for later identification like the color of ring around its eyes, or foot color?)">
            
            <button class="list-group-item form-control" type="submit" name="birdSubmit"id="birdSubmit">Submit</button>

            <button id="upload_widget" class="cloudinary-button list-group-item list-group-item form-control">Add Image</button>
            </form>

        </ul>
      </div>
    </div>
  </div>
    
       <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
       {{!-- <script src="/js/Cloudinary2.js"></script> --}}
    