<section class="event card">
    <ul>
        <li>{{date_created}}</li>
        <li>{{location}}</li>
        <li>{{description}}</li>
        <button class="delete-event-button">Delete</button>
    </ul>
</section>