<section class="event card">
    <ul>
        <li>{{date_created}}</li>
        <li>{{location}}</li>
        <li>{{weather}}</li>
        <li>{{description}}</li>
        <button class="delete-event-button">Delete</button>
    </ul>
</section>
{{!-- need a new event button with a post request and form with inputs, as well as a save --}}
{{!-- need an edit button that connects to a put request in a 'public' folders js file --}}
{{!-- edit functionality should also have an option to delete event (with cascading deletions of all associations) --}}