<section class="new-user-card">

    <form action="" id="signup-form">
        <input type="text" name="signupEmail" id="signupEmail" placeholder="signupEmail">
        <input type="text" name="signupName" id="signupName" placeholder="signupName">
        <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword">
        <input type="submit" name="submitNewuser" id="submitNewUser">
    </form>
</section>
<script src="/public/js/login.js"></script>