{{!-- <section class="sightingCard"> --}}
    
{{!-- <div id="mapholder">
    <img class="map_url"/> --}}
{{!-- 
<form> 
<input type="text" name="entry_description" id="sightingNotes" placeholder="Notes">
<input type="submit" name="submitNewSighting" id="saveMap">
</form> --}}
{{!-- </div> --}}
{{!-- input text description --}}
{{!-- <script src="/js/sighting-get.js"></script>
