<section class="sightingCard">
<button id="get_location">Get Location</button>
<div id="mapholder">
    <img/>
</div>
<input type="submit" name="submitNewSighting" id="saveMap">
{{!-- map --}}

{{!-- input text description --}}

<script src="/public/js/saveSightingMap.js"></script>