{{!-- <section class="sightingCard">
    
<div id="mapholder">
    <img/>
</div>
<input type="submit" name="submitNewSighting" id="saveMap">
{{!-- map --}}

{{!-- input text description --}}
<script src="/js/sighting-get.js"></script>
<script src="/js/sighting-save.js"></script> --}}