<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Untitled Bird Thing</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header><h3>Here is a header</h3></header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <hr>
        <h3>&copy; 2022 Project 6 Group: Devon, Bryan, Jaeger and Philip</h3>
    </footer>
</body>
</html>