<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Bird Brain</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
         {{!-- <div class="" id="logo-card">
            <img src="" alt="">
        </div> --}}
        <nav>
            <h4>
            <a href="/login">Login</a>
            <a href="/">Home</a>
            <a href="/events">Profile</a>
            <a href="/" id ="logoutBtn">Logout</a>
            
            </h4>
        </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <hr>
        <h6>&copy; 2022 Project 6 Group: Devon, Bryan, Jaeger and Philip</h6>
    </footer>
    {{!-- <script src="/js/logout.js"></script> --}}
</body>
</html>