<section class="dashboard-container">
    <div class="mr-4">
        <h1>Welcome back {{User.name}}!</h1>
        <h3 class="events">Your entries:</h3>
    </div>

    <form action="" class="addEvent container">
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-75" type="text" name="eventLocation" id="eventLocation">
        </div>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-75" type="text" name="eventWeather" id="eventWeather">
        </div>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-75" type="date" name="eventDate" id="eventDate">
        </div>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-75" type="text" name="eventDescription" id="eventDescription">
        </div>
        <div class="row">
            <input class="btn btn-outline-light form-control w-50 mx-auto mb-3" type="submit" name="event-submit" id="eventSubmitButton">
        </div>
    </form>

{{!-- going to need a db.query in my route --}}
    <section class="events-container w-50 mx-auto opacity-80">
            {{#each events}}
                   {{> event-details}}
            {{/each}}
    </section>

    {{!-- <section class="friends-container">
        <a href="friend/event/{{id}}">
        {{#each friend as |friend|}}
        {{> friend-details}}
        {{/each}}
        </a>
    </section> --}}
    </div>
</section>
<script src="/js/newEvent.js"></script>