<section class="dashboard-container">
    <h1>Welcome back {{User.name}}!</h1>
    <div>
    <h3 class="events">Your entries:</h3>

    <form action="" class="addEvent">
        <input type="date" name="eventDate" id="eventDate">
        <input type="text" name="eventLocation" id="eventLocation">
        <input type="text" name="eventWeather" id="eventWeather">
        <input type="text" name="eventDescription" id="eventDescription">
        <input type="submit" name="event-submit" id="eventSubmitButton">
    </form>

{{!-- going to need a db.query in my route --}}
    <section class="events-container">
            {{#each events}}
                   {{> event-details}}
            {{/each}}
    </section>
    {{!-- <section class="friends-container">
        <a href="friend/event/{{id}}">
        {{#each friend as |friend|}}
        {{> friend-details}}
        {{/each}}
        </a>
    </section> --}}
    </div>
</section>
<script src="/js/newEvent.js"></script>