<section class="dashboard-container">
        
    

    <form action="" class="addEvent container w-75 mx-auto">
        <h4 class="d-flex justify-content-center">ADD AN OUTING</h4>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-85" type="text" name="eventLocation" id="eventLocation" placeholder="Where are you birding today?">
        </div>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-85" type="text" name="eventWeather" id="eventWeather" placeholder="What is/was the weather for this outing?">
        </div>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-85" type="date" name="eventDate" id="eventDate">
        </div>
        <div class="row">
            <input class="form-control w-50 mx-auto mb-2 opacity-85" type="text" name="eventDescription" id="eventDescription" placeholder="Notes to describe this outing?">
        </div>
        <div class="row">
            <input class="btn btn-outline-light form-control w-50 mx-auto mb-3" type="submit" name="event-submit" id="eventSubmitButton">
        </div>
    </form>
    <div class="eventsContainer w-75 mx-auto">
<h4 class="events d-flex justify-content-center">YOUR ENTRIES</h4>
{{!-- going to need a db.query in my route --}}
    <section class="events-container w-50 mx-auto opacity-85">
            {{#each events}}
                 {{> event-details}}
            {{/each}}
    </section>
    </div>

    </div>
</section>
<script>
        (function(d, s, id) {
            if (d.getElementById(id)) {
                if (window.__TOMORROW__) {
                    window.__TOMORROW__.renderWidget();
                }
                return;
            }
            const fjs = d.getElementsByTagName(s)[0];
            const js = d.createElement(s);
            js.id = id;
            js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";

            fjs.parentNode.insertBefore(js, fjs);
        })(document, 'script', 'tomorrow-sdk');
        </script>

        <div class="tomorrow"
           data-location-id=""
           data-language="EN"
           data-unit-system="IMPERIAL"
           data-skin="dark"
           data-widget-type="upcoming"
           style="padding-bottom:22px;position:relative;"
        >
          <a
            href="https://www.tomorrow.io/weather-api/"
            rel="nofollow noopener noreferrer"
            target="_blank"
            style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;"
          >
            <img
              alt="Powered by the Tomorrow.io Weather API"
              src="https://weather-website-client.tomorrow.io/img/powered-by.svg"
              width="200"
              height="12"
            />
          </a>
        </div>
<script src="/js/newEvent.js"></script>