<h2>Login</h2>
<form action="" id="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="Email">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
    <button>Login</button>
</form>
<hr>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" name="signupEmail" id="signupEmail" placeholder="Email">
    <input type="text" name="signupName" id="signupName" placeholder="Your Name">
    <input type="password" name="signupPassword" id="signupPassword" placeholder="Password">
    <button>Signup</button>
</form>

<script src="/js/login.js"></script>