<section class="new-user-card">
    <div class="new-user-container">
        <h3>Login</h3>
        <form action="" class="login-form">
            <input type="email" name="email" id="loginEmail" placeholder="Enter Email Here">
            <input type="password" name="password" id="loginPassword" placeholder="Enter Password Here">
            <button>Login</button>
        </form>
    <button><a href="newAccount.handlebars">New Account</a></button>
    </div>

</section>

<script src="/js/login.js"></script>