<section class="new-user-card">
    <div class="new-user-container">
        <form action="" class="login-form">
            <input type="text" name="username" id="username-signup" placeholder="Create a Username">
            <input type="email" name="email" id="email-signup" placeholder="Enter Email Here">
            <input type="password" name="password" id="password-signup" placeholder="Enter Password Here">
            <button>Login</button>
        </form>
    <button>Create New Account</button>
    </div>

</section>

<script src="/public/js/login.js"></script>