<section class="new-user-card">


    <div class="new-user-container container text-center d-flex justify-content-center">

        <form action="" class="login-form rounded">
            {{!-- Optional "Bird Brain" title above login --}}
            {{!-- <h1 class="loginTitle">Bird Brain</h1> --}}
            {{!-- <div class="col" id="loginType">
                <h3>Login</h3>
            </div> --}}
                <div class="row">
                    <h2>Login:</h2>
                </div>
                <div class="row loginCenter">
                    <input class="form-control" type="email" name="email" id="loginEmail" placeholder="Email">
                </div>
                <hr>
                <div class="row loginCenter">
                    <input class="form-control" type="password" name="password" id="loginPassword" placeholder="Password">
                </div>
                <hr>
                <div class="row loginCenter" id="loginBtn">
                    <button class="btn btn-outline-light border border-0">Login</button>
                </div>
                <hr>
                <div class="row loginCenter">
                    <a class="btn btn-outline-light border border-0" id="newAccountBtn" href="newAccount">New Account</a>
                        {{#each newAccount}}
                        {{> newAccount}}
                        {{/each}}
                </div>
            </div>
        </form>
        
   
    </div>

</section>

<script src="/js/login.js"></script>
