
<section class="new-user-card">

    <form id="signup-form">
        <input type="email" name="signupEmail" id="signupEmail" placeholder="User E-mail">
        <input type="text" name="signupName" id="signupName" placeholder="Username">
        <input type="password" name="signupPassword" id="signupPassword" placeholder="Password">
        {{!-- <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"> --}}
        {{!-- <input type="submit" name="submitNewuser" id="submitNewUser"> --}}
        <button>Create New newAccount</button>
    </form>
</section>
<script src="/js/newAccount.js"></script>