:root {
    --primary: rgb(195, 177, 87);
    /* --secondary: red;
    --tertiary: purple; */
    --lightType: rgb(33, 31, 31);
    --opacity: rgba(221, 221, 221, 0.61);
}

body {
    background: var(--primary);
    color: var(--lightType);
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/birds.PNG');
    /* background-image: url("https://i.imgur.com/y5RTHxR.png"); */
    background-size: cover;
}

#titleHeader{
    text-shadow: 1px 0px 5px;
}
#navBar {
    background-color: var(--opacity);
    padding: 0.5rem;
    margin-bottom: 1rem;
}
/* CLASS SECTION */
.imageCard {
    background-color: var(--opacity);
}

.login-form {
    background-color: var(--opacity);
    padding: 1rem;
    margin-top: 5vh;
    width: 40%;
}

.login-form:after {
    content: "";
    display: block;
}

.addEvent{
    background-color:rgba(195, 177, 87, 0.562);
}

.eventsContainer{
    background-color:rgba(195, 177, 87, 0.562);

}

.event-card{
    color: rgb(9, 9, 9);
    padding: 10px;
}

.eventTxt {
    color: black;
}

.eventOutput {
    color: rgba(0, 0, 0, 0.799);
}

/* For the "Bird Brain" type block above the login info on LOGIN PAGE */


/* ID SECTION */
.journal-header {
    text-align: center;
    margin: 30px;
}

.journalPage {
    background-color:rgba(195, 177, 87, 0.562);
}


/* This is for the bird details given by the ANIMALS API */
.api-card {
    font-size: small;
    align-content: center;
    color: black;
    background-color: var(--opacity);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    width: 75vw;
    margin: auto;
    border-radius: 1%;
    margin-top: 2%;
}

.header-container{
    color:rgb(8, 8, 8);
    background-color: rgba(233, 227, 227, 0.621);
    width:60%;
    margin-left: 20%;
    border-radius: 5px;
}
/* .birdCard {
    background-color: rgba(255, 255, 255, 0.842); 
} */




/* Specific for the size of the "Bird Brain:" title header */
#birdBrainTitle {
    font-size: 9vw;
}

/* Specific for the size of the "A Digital Journal for Bird Nerds" descriptor */
#birdBrainDesc {
    font-size: 3vw;
}

/* This is the ENTIRE "Bird Brain" header object */
#titleHeader {
    padding: 18%;
}

#signup-form {
    background-color: var(--opacity);
    padding: 1rem;
    margin-top: 5vh;
    width: 40%;
}

.sightingContainer{
    /* align-content: center; */
    width: 50%;
    background-color: var(--opacity);
}

.map_url {
    align-content: center;
}
/* For the "login" button on the LOGIN PAGE */
/* #loginBtn {
    margin-left: -6vw;
} */

/* For the "Login:" type on the login page */
/* #loginType {
    margin-right: -6vw;
} */

/* For the "New Account" button on the login page */
/* #newAccountBtn {
    margin-top: 1rem;
} */

