:root {
    --primary: rgb(220, 46, 255);
    --secondary: red;
    --tertiary: purple;
    --lightType: white;
}

body {
    background: var(--primary);
    color: var(--lightType);
    font-family: "Helvetica", sans-serif;
    /* background-image: url("https://i.imgur.com/y5RTHxR.png"); */
}

/* This is for the bird details given by the ANIMALS API */
/* .api-card {
    color: var(--lightType);
    background-color: rgba(221, 221, 221, 0.37);
    padding: 1rem;
    margin-bottom: 1rem;
} */